{% extends 'base.html' %} 
{% load filters %} 
{% block title %}Products of {{ user }} - {% endblock %} 
{% block content %}
<div class="row">
  <div class="col">
    <h3 class="mb-4">Products of {{ user }}</h3>
    <p>Below are all your products announced in the store.</p>

    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="d-none d-lg-block">Image</th>
          <th scope="col">Product</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">More Details</th>
        </tr>

        {% for product in products %}
        <tr>
          <td class="d-none d-lg-block">
            <img class="cart-img" src="{{ product.image.url }}" alt="{{ product.name }}">
          </td>
          <td>{{ product.name}}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.price | format_price }}</td>
          <td>
            <a href="{% url 'seller:detail' product.id %}">
              Edit <i class="fas fa-search-plus ml-2"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% include 'partials/_pagination.html' %} 

<div class="row">
  <div class="col">
    <a href="{% url 'seller:createProduct' %}">
      <button type="button" class="btn btn-primary btn-lg btn-block mt-5">
        Announce New Product
      </button>
    </a>
  </div>
</div>

{% endblock %}
