{% load static %}
{% load filters %}

<div class="row">
    <div class="col">
        <h3 class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
              </svg>
              <p class="ml-2">{{ order }}</p>
        </h3>

        <div class="row mt-4 justify-content-around">
            <div class="col-lg-2 font-weight-bold">Order number: 
                <p class="d-inline font-weight-normal">{{ order.id }}</p>
            </div>
            <div class="col-lg-2 font-weight-bold">Total to pay:
                <p class="d-inline font-weight-normal">{{ order.total | format_price }}</p>
            </div>
            <div class="col-lg-2 font-weight-bold">QTY. Items: 
                <p class="d-inline font-weight-normal">{{ order.total_qty }}</p>
            </div>
            <div class="col-lg-2 font-weight-bold">Status: 
                <p class="d-inline font-weight-normal">{{order.get_status_display }}</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Products list</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Image</th>
                    <th>Product</th>
                    <th>V.</th>
                    <th>QTY.</th>
                    <th>Total</th>
                </tr>

                {% for item in order.items.all %}
                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="{{ item.image }}" alt="{{ item.product }}">
                    </td>
                    <td>{{item.product}}</td>
                    <td>{{item.variation}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        {% if item.price_promotional > 0 %}
                        {{ item.price_promotional | format_price }}
                        {% else %}
                        {{ item.price | format_price }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>