{% extends 'base.html' %}
{% load filters %}

{% block title %}Cart - {% endblock title %}

{% block content %}

{% if cart %}

<div class="row mt-3">
    <div class="col">
        <h3>Shopping Cart</h3>
        <p class="lead">The products, quantities and prices you have chosen.</p>

        {% include 'partials/_cart.html' %}
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg">
        <p class='lead'>Total in cart</p>

        <div class='table-responsive'>
            <table class="table">
                <tr>
                    <td class="font-weight-bold">Total</td>
                    <td>{{ request.session.cart | total_cart_price | format_price }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg mt-auto">
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'product:resume' %}">
            Finalize Order
        </a>
    </div>
</div>

{% else %}

<div class="row mt-3">
    <div class="col">
        <h3>Shopping Cart</h3>
        <p class="lead">The products, quantities and prices you have chosen.</p>
        <p class="lead">Your cart is empty.</p>
    </div>
</div>

{% endif %}

{% endblock %}